<html>
   <body>
      <form method = "POST" action = "http://localhost:5000/storeimager"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
   </body>
</html>


{% extends "layout.html" %}
{% block title %}FamilyWhere{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<div class="container-fluid unselectable"
      style="background: url('../static/images/back1.jpg');
            display: table;
            overflow: hidden;
            height: 100%;
            min-height: 100%;
            position: absolute;">
      <h3 style="text-align:center;
            color: white;
            font-size: 3.0em;
            padding-top: 20px;">
    <b>Upload the Photo of Person You Want to Find</b>
  </h3>
      <br/><br/>
      <div style="text-align: center;">

      <form method = "POST" action = "http://localhost:5000/storeimager"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" /><br/><br/>
         <input type = "submit" class="btn btn-dark"/>
      </form>

  </div>

  
</div>
{% endblock%}

{% block script %}
{% endblock %}